<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<!-- TODO : 나중에 true로 변경 -->
		<setting name="mapUnderscoreToCamelCase" value="false" />
	</settings>
	
	<typeAliases>
		<typeAlias alias="orderSearchCondition" type="net.fe.buma.stats.model.OrderSearchCondition"/>
		<typeAlias alias="order" type="net.fe.buma.order.model.Order" />
		<typeAlias alias="orderRequest" type="net.fe.buma.order.model.OrderRequest" />
		<typeAlias alias="pagable" type="net.fe.buma.support.paging.Pagable" />
		<typeAlias alias="user" type="net.fe.buma.user.model.User" />
		<typeAlias alias="productItem" type="net.fe.buma.product.model.ProductItem" />
		<typeAlias alias="productDetail" type="net.fe.buma.product.model.ProductDetail" />
		<typeAlias alias="sample" type="net.fe.buma.sample.model.Sample" />
		<typeAlias alias="samplePagable" type="net.fe.buma.sample.model.SamplePagable" />
		<typeAlias alias="sampleThumb" type="net.fe.buma.samplethumb.model.SampleThumb" />
		<typeAlias alias="sampleThumbPagable" type="net.fe.buma.samplethumb.model.SampleThumbPagable" />
		<!-- <typeAlias alias="statsPaymentCondition" type="net.fe.buma.stats.model.PaymentStatsCondition" /> -->
		<!-- <typeAlias alias="statsPaymentOrder" type="net.fe.buma.stats.model.PaymentStatsOrder" /> -->
		<typeAlias alias="paymentStats" type="net.fe.buma.stats.model.PaymentStats" />
		<typeAlias alias="paymentGeoriseStats" type="net.fe.buma.stats.model.PaymentGeoriseStats" />
		<typeAlias alias="paymentTeamTotalStats" type="net.fe.buma.stats.model.PaymentTeamTotalStats" />
		<typeAlias alias="orderForStats" type="net.fe.buma.stats.model.OrderForStats" />
		<typeAlias alias="adjustTimeRequest" type="net.fe.buma.stats.model.AdjustTimeRequest" />
		<typeAlias alias="orderAttachFile" type="net.fe.buma.orderAttachFile.model.OrderAttachFile" />
		<typeAlias alias="article" type="net.fe.buma.customerboard.model.Article" />
		<typeAlias alias="customerAttachFile" type="net.fe.buma.customerAttachFile.model.CustomerAttachFile" />
		<typeAlias alias="userinfo" type="net.fe.buma.userinfo.model.UserInfo" />
		<typeAlias alias="item" type="net.fe.buma.product.model.Item" />		 
		<typeAlias alias="shape" type="net.fe.buma.product.model.Shape" />
		<typeAlias alias="background" type="net.fe.buma.product.model.Background" />
		<typeAlias alias="process" type="net.fe.buma.product.model.Process" />				
	</typeAliases>
</configuration>